<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
  <title>Lil'Links - Register Account</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
      <img src="/img/meat.png" width="30" height="30" alt="">
      <a class="navbar-brand mx-1" href="/urls">Lil'Links</a>
    </nav>
  </header>  <main class="my-3">  <main class="my-3">
    <h5 class="text-center">So You Want to Register Some Kick-Ass lil'Links</h5>
    <br>
    <form action="/createUser" method="POST">
      <div class="col-md-4 offset-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend" style="flex: 0 0 20%;">
            <span class="input-group-text" style="width: 100%;">username</span>
          </div>
          <input type="login" autocomplete="off" class="form-control" name="newUsername" placeholder="username">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend" style="flex: 0 0 20%;">
            <span class="input-group-text" style="width: 100%;">email</span>
          </div>
          <input type="email" autocomplete="off" class="form-control" name="email" placeholder="email">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend" style="flex: 0 0 20%;">
            <span class="input-group-text" style="width: 100%;">password</span>
          </div>
          <input type="password" autocomplete="off" class="form-control" name="password" placeholder="">
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-info" type="submit">Create Lil'Links Account</button>
        </div>
      </div>
    </form>
    <small class="d-flex justify-content-center align-middle text-center my-2">or</small>
    <div class="d-flex justify-content-center">
      <a href="/login"><button class="btn btn-success">Login!</button></a>
    </div>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>